<div class="row">
    <div class="col-md-8 offset-md-2">
        <form #prodForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="prodName">Product Name</label>
                <input required #prodName="ngModel" ngModel name="prodName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="prodDetails">Product Details</label>
                <textarea required class="form-control" #prodDetails="ngModel" ngModel name="prodDetails" rows="5"
                    id="prodDetails"></textarea>
            </div>
            <mat-card-actions>
                <button [disabled]="prodForm.invalid" class="w-100" mat-raised-button color="primary">Add
                    Product</button>
            </mat-card-actions>
        </form>
        <app-prod-cards *ngFor="let prod of prodArr; trackBy : trackByProdID" [getProduct]="prod"></app-prod-cards>
    </div>
</div>